@using AnimalShelter.Models;

<h1>Add a new animal</h1>
<form action="/animal/" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" />
  <label for="type">Breed:</label>
  <input type="text" id="breed" name="breed" />
  <label for="age">Age:</label>
  <input type="text" id="age" name="age" />
  <label for="date">Date of Admission:</label>
  <input type="date" id="date" name="date" />
  <button type="submit">Submit</button>
</form>

<p>@Html.ActionLink("Click here to see all of the animals!", "Index", "Animal")</p>
