<!DOCTYPE html>
<html>

<head>
  <title>Welcome Pierre!</title>
</head>

<body>

  <div class="border">
    <h1>Welcome to your Bakery Vendor Tracker, Pierre!</h1>
    <p>Click below to see all of your vendors.</p>
    <div>

      <a class="hypButton">See All Vendors</a>
      <br>

    </div>
  </div>
</body>

</html>
