@using AnimalShelter.Models;

<h1>Animal Shelter</h1>

@if (@Model.Count == 0)
{
  <h3>No animals have been added.</h3>
}

<ul>
  @foreach (Animal animal in Model)
  {
    <li>@Html.ActionLink($"{animal.Name}", "Show", new { id = animal.AnimalId })</li>
  }
</ul>

<p>@Html.ActionLink("Add a new animal", "Create", "Animal")</p>