body {
  font-family: 'Croissant One', cursive;
  background-color: seagreen;

}

h1 {
  font-family: 'Croissant One', cursive;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

ul {
  text-align: left;
}

p {
  font-family: 'Croissant One', cursive;
  text-align: center;
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.border {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
  border-color: linen;
  border-width: 8px;
  border-style: groove;
  background-color: lavender;
  width: fit-content;
  height: fit-content;
  opacity: 0.8;

}